### Agenda
- Revision
- Numpy Library - Arrays
- Matplotlib  - Visualization
- Pandas - Dataframe
- Seaborn and pandas
- plotly library + dash(framework using flask)

### Python Revision

###### Ex. Apply 7% service charge to all the sales values in the given tuple

In [1]:
sales = ("290", "300", "800", "500")
[int(i) * 1.07 for i in sales]

[310.3, 321.0, 856.0, 535.0]

###### Ex. Sort the folowing list of words based on number of characters in each word

In [6]:
words = ["flight", "car", "bike", "train"]
sorted(words, key = len  # passing function object of len() as argument

['car', 'bike', 'train', 'flight']

###### Ex. Sort the dict based on salaries

In [5]:
emp = {"Jane" : 50000, "George" : 40000, "Jack" : 45000, "Rosie" : 25000}
sorted(emp, key = lambda x : emp[x])

['Rosie', 'George', 'Jack', 'Jane']

In [8]:
sorted(emp.items())  # list of tuples sorted by first element of the tuple

[('George', 40000), ('Jack', 45000), ('Jane', 50000), ('Rosie', 25000)]

In [9]:
sorted(emp.items(), key = lambda val : val[1])

[('Rosie', 25000), ('George', 40000), ('Jack', 45000), ('Jane', 50000)]

In [10]:
dict(sorted(emp.items(), key = lambda val : val[1]) )

{'Rosie': 25000, 'George': 40000, 'Jack': 45000, 'Jane': 50000}

###### Ex. Convert the following list of numbers to its square roots

In [11]:
import math
numbers = [1, 4, 9, 16, 25]
[math.sqrt(i) for i in numbers]

[1.0, 2.0, 3.0, 4.0, 5.0]

In [13]:
tuple(map(math.sqrt, numbers))

(1.0, 2.0, 3.0, 4.0, 5.0)

###### Ex. Extract all digits from a string entered by user

In [14]:
string = input("Enter a string - ")
for ch in string :
    if ch.isdigit():
        print(ch)

Enter a string -  abcd1234

1
2
3
4

In [16]:
[ch for ch in string if ch.isdigit()]

['1', '2', '3', '4']

In [18]:
tuple(filter(lambda ch : ch.isdigit(), string))

('1', '2', '3', '4')

In [19]:
num = "123"
num.isdigit()  # called on str instance/object

True

In [20]:
str.isdigit(num)  # called on the str class and object is passed as argument

True

In [25]:
tuple(filter(str.isdigit, string))

('1', '2', '3', '4')

In [21]:
class Circle :

    def __init__(self, radius) :
        self.radius = radius

    def area(self) :
        return 3.14 * self.radius * self.radius

In [22]:
c = Circle(10)

In [23]:
c.area()

314.0

In [24]:
Circle.area(c)

314.0

## Functions in Python

In [31]:
# Function defination
def factorial(num) :  # num - parameters 
    fact = 1
    for i in range(num, 1, -1) :
        fact *= i
    return fact   # return statement

In [32]:
factorial(5)  # 5 - argument to function call

120

#### Function returning multiple values as a tuple object

In [33]:
def func(num) :
    sq = num **2
    cube = num **3
    return sq, cube  # packing of tuples

In [37]:
x, y = func(5)  # unpacking of tuples
y

125

In [36]:
x

25

In [39]:
# defining multiple variables in a single line - 
x, y = 10, 20  # packing and unpacking of tuples

In [45]:
# application of unpacking of tuples
for i, j in emp.items() :
    print(i, " - ", j)

Jane  -  50000
George  -  40000
Jack  -  45000
Rosie  -  25000

#### Function Arguments

1. Required Positional Argument
2. Default Argument
3. Variable Length Argument
4. Key-word Argument
5. Variable Length Key-word Argument

#### Required Positional Argument

In [6]:
def demo(name, age) :
    print(f"Name - {name} | Age - {age}.")
    
demo("Jane", 30)
demo(30, "Jane")
demo("Jane")  # Error

Name - Jane | Age - 30.
Name - 30 | Age - Jane.

TypeError: demo() missing 1 required positional argument: 'age'

###### Example -

In [7]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /) unbound builtins.list method
    Insert object before index.

In [9]:
lst = [10, 20, 30, 40]
lst.insert(2, 4)  # 4 inserted at position 2
print(lst)

[10, 20, 4, 30, 40]

In [10]:
lst = [10, 20, 30, 40]
lst.insert(4, 2)  # 2 inserted at position 4
print(lst)

[10, 20, 30, 40, 2]

In [11]:
lst = [10, 20, 30, 40]
lst.insert("abcd", 2)  # 2 inserted at position 4
print(lst)

TypeError: 'str' object cannot be interpreted as an integer

#### Default Argument

In [16]:
def demo(name, age = 25) :
    print(f"Name - {name} | Age - {age}.")
    
demo("Jane", 30)
demo(30, "Jane")
demo("Jane")
demo()

Name - Jane | Age - 30.
Name - 30 | Age - Jane.
Name - Jane | Age - 25.

TypeError: demo() missing 1 required positional argument: 'name'

###### Example -

In [12]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [13]:
word = "mississippi"
word.replace("i", "*")

'm*ss*ss*pp*'

In [14]:
word = "mississippi"
word.replace("i", "*", 2)

'm*ss*ssippi'

#### Variable Length Argument

In [18]:
def demo(name, *args, age = 25) :
    print(f"Name - {name} | Age - {age} | Args - {args}")
    
demo("Jane", 10, 20, 30, 40, 50, 19)

Name - Jane | Age - 25 | Args - (10, 20, 30, 40, 50, 19)

###### Example -

In [23]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [27]:
a = 10
b = 5
c = 15
print("Addition of", a, "and", b, "=", c)

Addition of 10 and 5 = 15

In [25]:
print("Addition of", a, "and", b, "=", c, sep = "_")

Addition of_10_and_5_=_15

#### Key-word Argument

In [21]:
def demo(name, *args, age = 25) :
    print(f"Name - {name} | Age - {age} | Args - {args}")
    
demo("Jane", 10, 20, 30, 40, 50, age = 19)

Name - Jane | Age - 19 | Args - (10, 20, 30, 40, 50)

#### Variable Length Key-word Argument

In [22]:
def demo(name, *args, age = 25, **kwargs) :
    print(f"Name - {name} | Age - {age} | Args - {args} | kwargs - {kwargs}")
    
demo("Jane", 10, 20, 30, 40, 50, age = 19, gender = "F", mob = 987654321)

Name - Jane | Age - 19 | Args - (10, 20, 30, 40, 50) | kwargs - {'gender': 'F', 'mob': 987654321}

#### Application of packing and unpacking of tuples wrt function calls

In [ ]:
def demo(name, *args, age = 25) :
    print(f"Name - {name} | Age - {age} | Args - {args}")
    
demo("Jane", 10, 20, 30, 40, 50, age = 19)  # packing of tuples to args

###### Ex - Writing from from a list of tuples to a a file using predefined function

In [36]:
# pre-defined function with no edit access
def write_to_file(name, age, gender):
    with open("details.txt", "a") as file :
        file.write(f"{name} | {age} | {gender}\n")
        print(f"Details for {name} added to the file.")

In [37]:
data = [("Jane", 35, "F"),
    ("Rosie", 30, "F"),
    ("George", 40, "M")]

for i in data :
    write_to_file(*i)  # unpacking of tuples

Details for Jane added to the file.
Details for Rosie added to the file.
Details for George added to the file.

In [38]:
data = {"name" : "Jack", "gender" : "M", "age" : 40 }
write_to_file(**data)  # unpacking of dict

Details for Jack added to the file.

#### Significance of `/` and `*` in function definition

- **`/`** - All arguments before `/` must be positional only
- **`*`** - All arguments after `*` must be key-word only

In [42]:
def demo(name, age= 25):
     print(f"Name - {name} | Age - {age}")

demo("Jane", 30) # positional 
demo(name = "Jane", age = 30) # key-word
demo("Jane", age = 30) # positional and key-word

Name - Jane | Age - 30
Name - Jane | Age - 30
Name - Jane | Age - 30

In [48]:
def demo(name, /, age):
     print(f"Name - {name} | Age - {age}")

demo("Jane", 30) 
demo("Jane", age = 30) 
demo(name = "Jane", age = 30) # Error

Name - Jane | Age - 30
Name - Jane | Age - 30

TypeError: demo() got some positional-only arguments passed as keyword arguments: 'name'

###### Example -

In [40]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [49]:
def demo(name, *, age):
     print(f"Name - {name} | Age - {age}")

demo("Jane", age = 30) 
demo(name = "Jane", age = 30) 
demo("Jane", 30) # Error

Name - Jane | Age - 30
Name - Jane | Age - 30

TypeError: demo() takes 1 positional argument but 2 were given

In [39]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

<hr><hr>

# Basics of NumPy
- NumPy - Introduction and Installation
- NumPy - Arrays Data Structure ( 1D, 2D, ND arrays)
- Creating Arrays
- NumPy - Data Types
- Array Attributes
- Creating Arrays – Alternative Ways
- Sub-setting, Slicing and Indexing Arrays
- Operations on Arrays
- Array Manipulation

### NumPy – Introduction and Installation

- NumPy stands for ‘Numeric Python’
- Used for mathematical and scientific computations
- NumPy array is the most widely used object of the NumPy library

#### Installing numpy

In [ ]:
pip install numpy
pip install pandas
pip install matplotlib
pip install seaborn

#### Importing numpy

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Arrays Data Structure

An `Array` is combination of homogenous data objects and can be indexed across multiple dimensions

#### Arrays are –
- ordered sequence/collection of Homogenous data
- multidimensional
- mutable

#### Creating Arrays – From list/tuple

- `np.array()` is used to create a numpy array from a list

#### Example on 1-D Array

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
arr

#### Example on 2-D Array

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
arr

### Array Attributes

- Attributes are the features/characteristics of an object that describes the object

- Some of the attributes of the numpy array are:
    - **shape** - Array dimensions
    - **size** - Number of array elements
    - **dtype** - Data type of array elements
    - **ndim** - Number of array dimensions
    - **dtype.name** - Name of data type
    - **astype** - Convert an array to a different type

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr

In [ ]:
arr.shape  # - (row, cols)

In [ ]:
arr.size

In [ ]:
arr.ndim

In [ ]:
arr.dtype

In [ ]:
arr.astype(float)

### Indexing, Slicing and Boolen Indexing

In [ ]:
arr = np.random.randint(5, 50, size = 10)
arr

#### 1-D Arrays

###### Ex. Extract first 3 elements

In [ ]:
arr[0:3]

###### Ex. Extract last 5 elements

In [ ]:
arr[-5 : ]

###### Ex. Extract element at position 2

In [ ]:
arr[2]  # indexing

###### Ex. Extract elements at index position 2, 5, 9.

###### Ex. Extract elements less than 20

### 2-D Arrays

In [ ]:
arr = np.random.randint(5, 50, size = (6,4))
arr

###### Ex. Extract first 3 rows

In [ ]:
arr[0:3]

###### Ex. Extract last 2 rows

In [ ]:
arr[-2 :]

###### Ex. Extract column at index 1

In [ ]:
arr[ : , 1]  # returns 1D array

###### Ex. Extract row 2 and 3 and column 2 and 3 (index-wise)

In [ ]:
arr[2:4, 2:4]

###### Ex. Extract values less than 25

###### Ex. Identify largest value. Extract values less than half of largest values

### Examples on Coffee Shop Data Set

#### Ex.  Create an array of coffee products, sales and profits

In [ ]:
coffee_products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array( [52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])

###### Ex. How many products are there in the dataset?

###### Ex.  Sales greater than 50,000

###### Ex.  Identify Losses

###### Ex.  Products in loss

###### Ex.  Product with maximum Sales

### Array Operations

#### Arithmetic operations on Arrays -
 - Addition, Substraction, Multiplication, Division, etc.
 - Operations on array and a scalar value
 - Operations between two arrays
 - Matrix Operations - Multiplication(np.dot()), Transpose(np.transpose())

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 + 5 # Addition

In [ ]:
arr1 - 5 # Substraction

In [ ]:
arr1 * 5 # Multiplication

In [ ]:
arr1 / 5 # Division

In [ ]:
arr1 // 5 # Floor Division

In [ ]:
arr1 % 5 # Modulus

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 + arr2 # Addition

In [ ]:
arr1 - arr2 # Substraction

In [ ]:
arr1 * arr2 # Multiplication

In [ ]:
arr1 / arr2 # Division

In [ ]:
arr1 // arr2 # Floor Division

In [ ]:
arr1 % arr2 # Modulus

#### Relational operations on Arrays -
 - ==, !=, <, >, <=, >=
 - Operations on array and a scalar value
 - Operations between two arrays

#### Array and Scalar

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr1 == 5

In [ ]:
arr1 != 5

In [ ]:
arr1 < 5

In [ ]:
arr1 > 5

In [ ]:
arr1 <= 5

In [ ]:
arr1 >= 5

#### Two Arrays

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
arr1 == arr2

In [ ]:
arr1 != arr2

In [ ]:
arr1 < arr2

In [ ]:
arr1 > arr2

In [ ]:
arr1 <= arr2

In [ ]:
arr1 >= arr2

#### Logical operations on Arrays -
 - np.logical_or()
 - np.logical_and()
 - np.logical_not()
 - np.logical_xor()

In [ ]:
arr1 = np.random.randint(1,10,size = 5)
arr1

In [ ]:
arr2 = np.random.randint(1,10,size = 5)
arr2

In [ ]:
np.logical_and(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_or(arr1 > 5, arr2 > 5)

In [ ]:
np.logical_not(arr1 > 5)

In [ ]:
np.logical_xor(arr1 > 5, arr2 > 5)

#### Set Operations on Arrays

Applicable to 1-D Ararys only

- np.unique() - Find the unique elements of an array.
- np.in1d() - Test whether each element of a 1-D array is also present in a second array.
- np.intersect1d() - Find the intersection of two arrays.
- np.setdiff1d() - Find the set difference of two arrays.
- np.union1d() - Find the union of two arrays.

In [ ]:
arr1 = np.random.randint(1, 10, size = 10)
arr1

In [ ]:
np.unique(arr1)

In [ ]:
np.unique(arr1, return_index= True, return_counts=True)

In [ ]:
arr2 = np.random.randint(1, 5, size = 10)
arr2

In [ ]:
np.in1d(arr1, arr2)  # depricated in 3.12 onwards

In [ ]:
np.isin(arr1, arr2)  # alternate for in1d()

In [ ]:
np.union1d(arr1, arr2)

In [ ]:
np.intersect1d(arr1, arr2)

### Array Functions/Methods

- np.all(), np.any()
- arr.sum()
- arr.min(), arr.max(), arr.argmin(), arr.agrmax()
- np.round()
- np.mean(), np.median(), np.average(), np.percentile()

### Examples on Coffee Shop Data Set

#### Data

In [ ]:
import numpy as np
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])
target_profits = np.array([15934.0, 4924.0, 31814.0, 19649.0, 24934.0, 8461.0, 7090.0, 7084.0, 10135.0, 16306.0])
target_sales = np.array([48909.0, 13070.0, 80916.0, 57368.0, 66906.0, 30402.0, 18212.0, 21628.0, 27336.0, 42102.0])

###### Ex. Identify the products meeting the Target Profits

###### Ex. Are the above products meeting their sales target too?

### Array Manipulations

- **Changing Shape** – np.reshape()
- **Adding/Removing Elements** – np.append(), np.insert(), np.delete()
- **Splitting Arrays** – np.hsplit(), np.vsplit(), arr_obj.flatten()
- **Sorting Arrays** - arr_obj.sort(), arr_obj.argsort()

In [ ]:
arr = np.arange(1, 13)
arr

#### np.reshape()

In [ ]:
arr = np.reshape(arr, (4, 3))
arr

#### np.append()

In [ ]:
np.append(arr, [10,20,30, 50, 40, 60]) # Flattens the array

In [ ]:
np.append(arr, np.reshape(np.array([13, 14, 15]), (1, 3)), axis = 0) # axis = 0 denotes row-wise

In [ ]:
np.append(arr, np.reshape(np.array([10, 20, 30, 40]), (4, 1)), axis = 1) # axis = 1 denotes col-wise

#### np.insert()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.insert(arr, 1, 5) # Flattens the arr and inserts 5 at index 1

In [ ]:
np.insert(arr, 1, 5, axis=0) # Inserts [5, 5, 5] as row 1

In [ ]:
np.insert(arr, 1, 5, axis=1) # Inserts [5, 5, 5, 5] as column 1

In [ ]:
np.insert(arr, 1, [10, 20, 30, 40], axis=1)

In [ ]:
np.insert(arr, 1, [10, 20, 30], axis=0)

#### np.delete()

In [ ]:
arr = np.reshape(np.arange(1,13), (4,3))
arr

In [ ]:
np.delete(arr, 1) # Flattens the arr and deletes element at index 1

In [ ]:
np.delete(arr, 1, axis=0) # deletes row 1

In [ ]:
np.delete(arr, 1, axis=1) # deletes column 1

In [ ]:
np.delete(arr,[0,2], axis=0) # deletes selected rows

In [ ]:
np.delete(arr,[0,2], axis=1) # deletes selected columns

#### np.hsplit(), np.vsplit()

In [ ]:
arr = np.reshape(np.arange(1, 25), (6,4))
arr

In [ ]:
np.vsplit(arr, 2)

In [ ]:
np.hsplit(arr, 2)

#### flatten()

In [ ]:
arr

In [ ]:
arr.flatten() # returns a 1-D array

In [ ]:
arr.flatten(order = "F") # returns a 1-D array

In [ ]:
help(arr.flatten)

### Sorting Arrays

###### Ex. Identify products which are not achieving their profit target. Calculate their target status in percentage. Display the products in DESC order of their percentage status

<hr><hr>